<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="top.brightzm.mapper.UserMapper">
    <!--查询用户 -->
    <select id="select" resultType="User">
        SELECT *
        FROM tb_user2
        WHERE username = #{username}
          AND password = #{password}
    </select>
    <select id="selectByName" resultType="User">
        SELECT *
        FROM tb_user2
        WHERE username = #{username};
    </select>

    <!-- 创建用户 -->
    <insert id="add">
        INSERT INTO tb_user2(username, password)
        VALUES (#{username}, #{password})
    </insert>

</mapper>
