<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>good</title>
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">

</head>
<body>

<div id="app">
    <!--搜索框    -->
    <el-form :inline="true" :model="brand" class="demo-form-inline">
        <el-form-item label="当前状态">
            <el-select v-model="brand.status" placeholder="当前状态">
                <el-option label="启用" value="1"></el-option>
                <el-option label="禁用" value="0"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="企业名称">
            <el-input v-model="brand.companyName" placeholder="企业名称"></el-input>
        </el-form-item>
        <el-form-item label="品牌名称">
            <el-input v-model="brand.brandName" placeholder="品牌名称"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="search">查询</el-button>
        </el-form-item>
    </el-form>
    <!--动作栏    -->
    <el-row>
        <el-button type="danger" @click="delByIds" plain>批量删除</el-button>
        <el-button type="primary" plain @click="dialogVisible1 = true">添加</el-button>
    </el-row>
    <!--添加对话框-->
    <el-dialog
            title="添加品牌"
            :visible.sync="dialogVisible1"
            width="30%"
    >
        <!--         表单-->
        <span>
            <el-form ref="form" :model="brand" label-width="80px">
                <el-form-item label="品牌名称">
                    <el-input v-model="brand.brandName"></el-input>
                </el-form-item>
                <el-form-item label="企业名称">
                    <el-input v-model="brand.companyName"></el-input>
                </el-form-item>
                <el-form-item label="排序">
                    <el-input v-model="brand.ordered"></el-input>
                </el-form-item>
                <el-form-item label="备注">
                    <el-input type="textarea" v-model="brand.description"></el-input>
                </el-form-item>
                <el-form-item label="状态">
                    <el-switch v-model="brand.status"
                               active-value="1"
                               inactive-value="0"
                    ></el-switch>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="addBrand">添加</el-button>
                    <el-button @click="dialogVisible1 = false">取消</el-button>
                </el-form-item>
            </el-form>
        </span>
    </el-dialog>

    <!--编辑对话框   -->
    <el-dialog
            title="编辑信息"
            :visible.sync="dialogVisible2"
            width="30%"
    >
        <!--表单-->
        <span>
            <el-form ref="form" :model="brand" label-width="80px">
                <el-form-item label="品牌名称">
                    <el-input v-model="brand.brandName" ></el-input>
                </el-form-item>
                <el-form-item label="企业名称">
                    <el-input v-model="brand.companyName"></el-input>
                </el-form-item>
                <el-form-item label="排序">
                    <el-input v-model="brand.ordered"></el-input>
                </el-form-item>
                <el-form-item label="备注">
                    <el-input type="textarea" v-model="brand.description"></el-input>
                </el-form-item>
                <el-form-item label="状态">
                    <el-switch v-model="brand.status"
                               active-value="1"
                               inactive-value="0"
                    ></el-switch>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="update">提交</el-button>
                    <el-button @click="dialogVisible2 = false">取消</el-button>
                </el-form-item>
            </el-form>
        </span>
    </el-dialog>

    <!--表格    -->
    <template>
        <el-table
                v-loading="loading"
                :data="brands"
                height="500"
                style="width: 100%"
                @selection-change="handleSelectionChange">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    type="index"
            >
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="brandName"
                    label="品牌名称"
                    width="180">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="companyName"
                    label="企业名称"
                    width="180">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="ordered"
                    label="排序"
                    width="180">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="description"
                    label="品牌介绍">
            </el-table-column>
            <el-table-column
                    align="center"
                    prop="strStatus"
                    label="状态">
            </el-table-column>
            <el-table-column
                    align="center"
                    label="操作">
                <template slot-scope="scope">
                    <el-button @click="handleClick(scope.row)" type="text" size="small">编辑</el-button>
                    <el-button @click="delOne(scope.row)" type="text" size="small">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
    </template>
    <!--分页    -->
    <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="100"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalCount">
    </el-pagination>

</div>

<script src="js/axios-0.18.0.js"></script>
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>


<script>

    new Vue({
        el: "#app",
        data() {
            return {
                // 品牌的ids
                delIds: [],
                // 查询的数据
                brands: [],
                // 复选框
                multipleSelection: [],
                // 对话框师是否展示
                dialogVisible1: false,
                dialogVisible2: false,
                // 品牌数据
                brand: {
                    id: "",
                    brandName: "",
                    companyName: "",
                    ordered: "",
                    description: "",
                    status: ""
                },
                // 分页
                // 当前页
                currentPage: 1,
                // 每页数量
                pageSize: 10,
                // 总数
                totalCount: 400,
                // 加载
                loading: true
            }
        },
        methods: {
            // 查询全部数据 分页
            selectByPage() {
                // 发送ajax请求
                axios({
                    method: "get",
                    url: "http://localhost:8080/finalTest/brand/selectByPage?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize
                }).then((resp) => {
                    this.brands = resp.data.rows;
                    this.totalCount = resp.data.totalCount;
                    console.log(resp.data);
                    this.loading = false;
                })
            },
            // 搜索框数据
            search() {
                // 将this指定为vue对象
                var _this = this;
                console.log(_this.brand)
                // 发送ajax请求
                axios({
                    method: "post",
                    url: "http://localhost:8080/finalTest/brand/selectByPageAndCondition?currentPage=" + _this.currentPage + "&pageSize=" + _this.pageSize,
                    data: _this.brand
                }).then(function (resp) {
                    _this.brands = resp.data.rows;
                    _this.totalCount = resp.data.totalCount;
                    console.log(resp.data)
                })
            },
            // 添加数据
            addBrand() {
                // 将this指定为vue对象
                var _this = this;
                // 发送ajax请求
                axios({
                    method: "post",
                    url: "http://localhost:8080/finalTest/brand/add",
                    data: _this.brand
                }).then(function (resp) {
                    // 判断响应数据是否成功
                    if (resp.data === "success") {
                        _this.dialogVisible1 = false;
                        _this.selectByPage();
                        _this.success();
                        _this.brand = {};
                    }
                })
            },
            // 修改数据
            update() {
                // 发送ajax请求
                axios({
                    method: "post",
                    url: "http://localhost:8080/finalTest/brand/update",
                    data: this.brand
                }).then((resp) =>{
                    // 判断响应数据是否成功
                    if (resp.data === "success") {
                        this.dialogVisible2 = false;
                        this.selectByPage();
                        this.success();
                        this.brand = {};
                    }
                })
                // console.log(this.brand)
            },
            // 批量删除数据
            delByIds() {
                // 弹出确认按钮
                this.$confirm('此操作将 删除该数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    console.log(this.multipleSelection)
                    for (let i = 0; i < this.multipleSelection.length; i++) {
                        // console.log(this.multipleSelection[i].id)
                        this.delIds[i] = this.multipleSelection[i].id;
                    }
                    var _this = this;
                    // 发送数组
                    axios({
                        method: "post",
                        url: "http://localhost:8080/finalTest/brand/deleteByIds",
                        data: _this.delIds,
                    }).then(function (resp) {
                        if (resp.data === "success") {
                            _this.selectByPage();
                            _this.success();
                            _this.delIds = [];
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                })
            },
            // 删除一条数据
            delOne(row){
                this.multipleSelection[0] = row;
                this.delByIds();
            },

            // 编辑数据
            handleClick(row) {
                this.brand = row;
                this.dialogVisible2 = true;
            },


            handleSelectionChange(val) {
                this.multipleSelection = val;
                // console.log(this.multipleSelection)
            },

            // 改变每页页数
            handleSizeChange(val) {
                //console.log(`每页 ${val} 条`);
                this.pageSize = val;
                this.selectByPage();
            },

            // 改变当前页
            handleCurrentChange(val) {
                // console.log(`当前页: ${val}`);
                this.currentPage = val;
                this.selectByPage();
            },
            // 成功弹窗
            success() {
                this.$message({
                    message: '操作成功',
                    type: 'success'
                });
            },
        },
        // 页面加载完成的操作
        mounted() {
            this.selectByPage()
        }
    })

</script>

</body>
</html>